<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" type="text/javascript" src="/javascripts/lib/jquery.js"></script>
  </head>
  <body>

    <div id="top-banner">
      <div id="designed-by-container">
        <div class="designed-by">designed by</div>
      </div>
      <div id="logo-container">
        <div class="logo"></div>
        <div class="logo-gutter"></div>
        <div class="logo-menu"></div>
      </div>
    </div>



    <a href="#" class="mid-banner"></a>

    <div id="main">

      <div id="abyss" class="abyss">

          <a href="nostalgia-ultra"
             id="nostalgia-ultra"
             class="album-bubble"
             style="
               background-image: url('/images/nostalgia-ultra.jpg');
               background-size: 100%;
             ">
            <div class="album-bubble-content">
            </div>
          </a>

          <a href="channel-orange"
             id="channel-orange"
             class="album-bubble"
             style="
               background-image: url('/images/channel-orange.jpg');
               background-size: 100%;
             ">
            <div class="album-bubble-content">
            </div>
          </a>

          <a href="blonde"
             id="blonde"
             class="album-bubble"
             style="
               background-image: url('/images/blonde.jpg');
               background-size: 100%;
             ">
            <div class="album-bubble-content">
            </div>
          </a>

          <a href="unreleased" id="unreleased" class="album-bubble">
            <div class="album-bubble-content">
              Unreleased
            </div>
          </a>

          <a href="endless"
             id="endless"
             class="album-bubble"
             style="
               background-image: url('/images/endless.jpg');
               background-size: 100%;
             ">
            <div class="album-bubble-content">
            </div>
          </a>

      </div>

    </div>
    <div id="mid-banner-text">
      <!-- someting here? -->
    </div>
    <div id="mid-banner-breadcrumb">
      <div class="breadcrumb-item" id="breadcrumb-artist">FRANK OCEAN</div>
      <!-- <div class="breadcrumb-seperator" id="breadcrumb-sep-before-album"></div>
      <div class="breadcrumb-item" id="breadcrumb-album">album</div>
      <div class="breadcrumb-seperator" id="breadcrumb-sep-before-song"></div>
      <div class="breadcrumb-item" id="breadcrumb-song">song</div>
      <div class="breadcrumb-seperator" id="breadcrumb-sep-before-newthing"></div>
      <div class="breadcrumb-item" id="breadcrumb-newthing">newthing</div> -->
    </div>




    <div id="landing-toggle-enclosure">
      <a href="#" id="landing-button" class="landing-toggle-button">
        <div class="landing-button-line-norm"></div>
        <div class="landing-button-line-buffer"></div>
        <div class="landing-button-line-mid"></div>
        <div class="landing-button-line-buffer"></div>
        <div class="landing-button-line-norm"></div>
      </a>
    </div>




    <div id="land">
      <div id="land-main">
        <div id="land-main-logo">
          <div id="land-main-search">
            <div id="land-main-search-bubble">
              search for artists, albums and songs
            </div>
          </div>
        </div>
      </div>
      <div id="land-bottom-banner"></div>
    </div>


    <script language="javascript" type="text/javascript" src="/javascripts/outputs.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/ui.js"></script>








  </body>
</html>
